.headerimg {
  width: 100%;
}
body{
  background-image: url('images/image2.png');
  background-size: cover;

}

.navbar {
  z-index: 2;
  font-size: 20px;
}

.nav-link {
  position: relative;
  overflow: hidden;
  letter-spacing: 2px;
}

.nav-link::before {
  content: '';
  position: absolute;
  left: 0;
  right: 100%;
  bottom: 0;
  height: 2px;
  background-color: transparent;
  transition: right 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  
}

.nav-link:hover::before {
  right: 0;
  background-color: rgb(255, 255, 255);
  /* Adjust color as needed */
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav-item {
  margin: 0 10px;
  /* Adjust spacing between items */
}

.navbar-toggler-icon {
  border-radius: 5px;
}

.nav-link {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 30px;
}
.nav-link1{
  margin-right: 75px;
}


  .navbar-toggler-icon {
    border-radius: 5px;
  }
  h1{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 100;
    text-transform: uppercase;
  }
    .contact-container {
      background-color: #feb6c1;
      margin-top: 150px;
      margin-bottom: 150px;
      padding: 3rem;
      border-radius: 1rem;
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
      width: 100%;
      max-width: 700px;
      font-family: "Raleway", sans-serif;
      font-optical-sizing: auto;
      font-weight: 200;
      font-style: normal;
  
    }
  .form-button {
    font-size: 1.2rem;
    padding: 0.75rem 2rem;
    background-color: black;
    color:white
  }
  .form-button:hover{
    background-color: black;
    color:rgb(143, 143, 143);
  }

  .footer-basic {
    margin-top: 50px;
    padding:40px 0;
    background-color:#000000;
    color:#4b4c4d;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }
  .list-inline-item{
    color: white;
    font-size: 30px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  .list-inline-item2{
    color: rgb(222, 222, 222);
    font-size: 20x;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }