.headerimg {
  width: 100%;
}


.navbar {
  z-index: 2;
  font-size: 25px;
  font-family: "basic-sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.nav-link {
  position: relative;
  overflow: hidden;
  letter-spacing: 2px;
}

.nav-link::before {
  content: '';
  position: absolute;
  left: 0;
  right: 100%;
  bottom: 0;
  height: 2px;
  /* Adjust thickness as needed */
  background-color: transparent;
  transition: right 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* Adjust timing function as desired */
}

.nav-link:hover::before {
  right: 0;
  background-color: rgb(255, 255, 255);
  /* Adjust color as needed */
}

.navbar {
  background: none;
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav-item {
  margin: 0 10px;
  /* Adjust spacing between items */
}

.navbar-toggler-icon {
  border-radius: 5px;
}



.row1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container1 {
  margin-top: 50px;
}

.hr {
  border-top: 5px solid rgb(255, 255, 255);
  opacity: 1;
  width: 50%;
}

.card-title {
  font-size: 3rem;
  font-weight: bold;
  font-family: "rocinante-titling-variable", sans-serif;
  font-variation-settings: "slnt" 0, "wght" 476;
}

.card-text {
  font-family: "new-science-mono", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.intropic {
  width: 100px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.testimonial-container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  position: relative;
  padding: 20px;
}

.testimonial-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.testimonial {
  flex: 0 0 30%;
  margin: 0 1%;
  padding: 15px;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
}

.nav-buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.nav-buttons button {
  padding: 10px 15px;
  border: none;
  background: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 5px;
}

.nav-buttons button:hover {
  background: #0056b3;
}